<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd"
       default-lazy-init="true" default-init-method="init"
       default-destroy-method="destroy">

    <context:component-scan base-package="org.efsn.web.controller.cache"/>

    <bean id="cacheMgr" class="org.springframework.cache.ehcache.EhcachemanagerFactoryBean"/>

    <bean id="dataCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManager" ref="cacheMgr"/>
        <property name="cacheName" value="dataCache"/>
    </bean>

    <bean id="methodCacheInterceptor" class="org.efsn.web.controller.cache.MethodCacheInterceptor">
        <property name="cache" ref="dataCache"/>
    </bean>

    <bean id="methodCachePointCut" class="org.springframework.aop.support.RegexMethodPointcutAdisor">
        <!-- confit cache aop -->
        <property name="advice" ref="methodCacheInterceptor"/>
        <!-- config whitch method should cache strategy -->
        <!-- RegEx -->
        <property name="patterns">
            <list>
                <value>org.demo.data.validator.*DataBinderModelValidator*\.*get.*</value>
                <value>org.demo.data.validator.*DataBinderModelValidator*\.*search.*</value>
            </list>
        </property>
    </bean>


</beans>	